<ng-template #add let-modal>
  <div class="modal-header">
		<h4 class="modal-title ms-1" id="modal-basic-title">Add New Department</h4>
		<button type="button" class="btn-close btn-close-white me-1" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
  <div class="modal-body">
			<div class="mb-3">
        <div *ngIf="error" class="error mb-2 p-2">
          {{ error }}
        </div>
        <form class="form" id="createForm" [formGroup]="createDepartmentForm" (ngSubmit)="createDepartment()">
          <div class="form-group">
            <label for="departmentName" class="form-required">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter a name..." formControlName="name" required>
            <div *ngIf="createName!.invalid && (createName!.dirty || createName!.touched)">
              <span *ngIf="createName!.hasError('required')" class="text-danger">Name is required</span>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="departmentLocation" class="form-required">Location</label>
            <select class="form-control form-select" id="locationId" formControlName="locationId" required>
              @for (location of locations; track location.locationId) {
                <option value={{location.locationId}}>
                  @if (location.streetAddress) {
                    {{location.streetAddress}},
                  } 
                  {{location.city}}, 
                  @if (location.stateProvince) {
                    {{location.stateProvince}}
                  }
                  @if (location.postalCode) {
                    {{location.postalCode}},
                  }
                  {{location.countryName}}
                </option>
              }
            </select>
            <div *ngIf="createLocationId!.invalid && (createLocationId!.dirty || createLocationId!.touched)">
              <span *ngIf="createLocationId!.hasError('required')" class="text-danger">Location is required</span>
            </div>
          </div>
        </form>
			</div>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
		<button type="submit" form="createForm" class="btn btn-outline-green">Submit</button>
	</div>
</ng-template>

<ng-template #edit let-modal>
  <div class="modal-header">
		<h4 class="modal-title ms-1" id="modal-basic-title">Edit Department</h4>
		<button type="button" class="btn-close btn-close-white me-1" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
  <div class="modal-body">
			<div class="mb-3">
        <div *ngIf="error" class="error mb-2 p-2">
          {{ error }}
        </div>
        <form class="form" id="createForm" [formGroup]="updateDepartmentForm" (ngSubmit)="updateDepartment(updateTarget?.departmentId!)">
          <div class="form-group">
            <label for="departmentName" class="form-required">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter a name..." formControlName="name" required>
            <div *ngIf="updateName!.invalid && (updateName!.dirty || updateName!.touched)">
              <span *ngIf="updateName!.hasError('required')" class="text-danger">Name is required</span>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="departmentLocation" class="form-required">Location</label>
            <select class="form-control form-select" id="locationId" formControlName="locationId" required>
              @for (location of locations; track location.locationId) {
                <option value={{location.locationId}} [selected]="location.locationId == updateLocationId?.value">
                  @if (location.streetAddress) {
                    {{location.streetAddress}},
                  } 
                  {{location.city}}, 
                  @if (location.stateProvince) {
                    {{location.stateProvince}}
                  }
                  @if (location.postalCode) {
                    {{location.postalCode}},
                  }
                  {{location.countryName}}
                </option>
              }
            </select>
            <div *ngIf="updateLocationId!.invalid && (updateLocationId!.dirty || updateLocationId!.touched)">
              <span *ngIf="updateLocationId!.hasError('required')" class="text-danger">Location is required</span>
            </div>
          </div>
        </form>
			</div>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
		<button type="submit" form="createForm" class="btn btn-outline-green">Submit</button>
	</div>
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
		<h4 class="modal-title ms-1" id="modal-basic-title">Delete Department</h4>
		<button type="button" class="btn-close btn-close-white me-1" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
  <div class="modal-body">
			<div class="mb-3">
        <p>Are you sure you want to delete {{this.deleteTarget?.departmentName}}?</p>
			</div>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
		<button type="button" class="btn btn-outline-danger" (click)="deleteDepartment(this.deleteTarget?.departmentId!)">Delete</button>
	</div>
</ng-template>

<div class="d-flex w-100 mx-2 mb-2">
  <h1 class="">Departments</h1>
  <div class="container-fluid d-flex justify-content-end">
    <button type="button" class="btn btn-green px-4 me-2" (click)="openAdd(add)">
      <h6 class="m-auto">Add New Department</h6>
    </button>
  </div>
</div>

<div class="container-fluid table-responsive">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Country</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (department of departments; track department.departmentId) {
      <tr class="align-middle">
        <th scope="row">{{department.departmentId}}</th>
        <td>{{department.departmentName}}</td>
        <td>{{department.locationStreetAddress}}</td>
        <td>{{department.locationCity}}</td>
        <td>{{department.locationStateProvince}}</td>
        <td>{{department.countryName}}</td>
        <td>
          <div>
            <button type="button" class="btn btn-green m-1 p-2" (click)="redirectToDetails(department.departmentId)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="d-flex" viewBox="0 0 16 16">
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
              </svg>
            </button>
            <button type="button" class="btn btn-green m-1 p-2" (click)="openEdit(edit, department.departmentId)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="d-flex" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
              </svg>
            </button>
            <button type="button" class="btn btn-dark m-1 p-2" (click)="openDelete(delete, department.departmentId)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="d-flex" viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
              </svg>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>