<div class="container-fluid d-flex mt-3 justify-content-center">
    <div class="col-lg"></div>
    <div class="login-box p-4">
      <div class="brand text-center mt-2">
        <h2>HR Portal</h2>
      </div>
      <div *ngIf="error" class="error mx-2 p-2">
        {{ error }}
      </div>
      <form class="form" [formGroup]="login" (ngSubmit)="tryLogin()">
        <div class="m-2">
          <label class="form-label mt-3" for="email">Email</label>
          <input class="form-control" type="text" id="email" name="email" formControlName="email" />
          <label class="form-label mt-3" for="password">Password</label>
          <input class="form-control" type="password" id="password" name="password" formControlName="password" />
  
          <div class="d-flex w-100 mt-4">
            <button type="submit" class="btn btn-green w-100">Login</button>
          </div>
          <div class="text-center mt-2">
            <a class="link-secondary link-underline-opacity-0" routerLink="/forgotpassword">Forgot Password</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg"></div>
  </div>
  